header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 100;
}

nav ul li {
  display: inline;
  box-sizing: border-box;
  margin: 5em;
  font-size: inherit;
  font-weight: 700;
  vertical-align: middle;
  position: relative;
}

nav ul li::before,
nav ul li::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  margin: 20px;

  background-color: #e9c456;
  transition: width 0.5s ease-in-out;
}

nav ul li::before {
  top: 0;
  left: 0;
}

nav ul li::after {
  bottom: 0;
  right: 0;
}

nav ul li a {
  font-family: "Montserrat";
  text-decoration: none;
  position: relative;
  color: #e9c456;
  z-index: 1;
}

/* Apply animation on hover */
nav ul li:hover::before,
nav ul li:hover::after {
  margin: 20px;
  width: 100%;
  background-color: #e9c456; /* Final color after animation */
}
