#contact {
  background-color: #aedbf7;
}
#contact h1 {
  color: #1e90ff;
  margin-top: 50px;
}

.contact-form-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #747169;
}
.contact-form {
  width: 40%;
  height: 70%;
  background-color: #cde5f5;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.contact-form h2 {
  margin-bottom: 10px;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 26px;
  font-family: "Montserrat";
}

input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 4px;
}
input[type="text"],
input[type="email"] {
  height: 30px;
}
input[type="text"],
input[type="email"],
textarea:focus {
  outline: blue;
}

button[type="submit"],
.resume-button {
  width: 30%;
  background-color: #aedbf7;
  color: #7f9199;
  font-size: 26px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 15%;
  position: relative;
  overflow: hidden;
  font-family: "Montserrat";
}

button[type="submit"]::before,
.resume-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #f7cd52;
  z-index: -1;
  transition: width 0.3s ease;
}

button[type="submit"]:hover::before,
.resume-button:hover::before {
  width: 100%;
  border: none;
}

button[type="submit"]:hover,
.resume-button:hover {
  color: #aedbf7;
  background-color: #1e90ff;
}

button[type="submit"]:focus,
.resume-button:focus {
  outline: none;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: #778899;
}

.footer-links {
  display: flex;
  list-style: none;
  margin-left: 20px;
}

.footer-links li {
  margin-right: 40px;
}

.footer-links li a {
  display: inline-block;
  position: relative;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.footer-links li a:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 4px;
  transform: scaleY(0);
  transition: transform 0.3s;
}

.footer-links li a:hover {
  transform: translateY(-15px) rotate(360deg) translateZ(0);
}

.footer-links li a:hover:before {
  transform: scaleY(1);
}
